In [1]:
import pandas as pd

In [2]:
events=pd.read_csv("Data/creativity.csv")

In [3]:
events.head()

,CSA2010,Population,"Number of Businesses that are Arts-Related per 1,000 residents",Total Employment in Arts-Related Businesses,"Number of Persons with Library Cards per 1,000 Residents","Rate of Businesses in the Creative Economy per 1,000 residents",Number of Employees in the Creative Economy,"Public Art per 1,000 Residents",Number of Public Murals,"Number of Event Permits Requested per 1,000 Residents"
0,Allendale/Irvington/S. Hilton,16217,0.0,0,318.6,0.1,1,1.0,3,0.2
1,Belair-Edison,17416,0.2,22,444.0,0.6,58,1.7,7,0.5
2,Brooklyn/Curtis Bay/Hawkins Point,14243,0.1,8,307.6,0.7,36,0.3,1,0.4
3,Canton,8100,0.6,6,284.3,2.6,162,0.2,0,3.5
4,Cedonia/Frankford,23557,0.3,13,305.5,0.5,25,0.1,0,0.2

In [8]:
art=pd.DataFrame()
art["Community"]=events["CSA2010"]
art["Population"]=events["Population\n"]
art["Business_Art"]=events["Number of Businesses that are Arts-Related per 1,000 residents"]
#art["Art_Employments"]=events["Total Employment in Arts-Related Businesses"]
art["Rate of Business"]=events["Rate of Businesses in the Creative Economy per 1,000 residents"]
art["Employees_creative"]=events["Number of Employees in the Creative Economy"]

In [9]:
art.head()

,Community,Population,Business_Art,Rate of Business,Employees_creative
0,Allendale/Irvington/S. Hilton,16217,0.0,0.1,1
1,Belair-Edison,17416,0.2,0.6,58
2,Brooklyn/Curtis Bay/Hawkins Point,14243,0.1,0.7,36
3,Canton,8100,0.6,2.6,162
4,Cedonia/Frankford,23557,0.3,0.5,25

In [14]:
art["Creative Population"]=(art["Employees_creative"]/art["Population"])*100

In [15]:
art.head()

,Community,Population,Business_Art,Rate of Business,Employees_creative,Creative Population
0,Allendale/Irvington/S. Hilton,16217,0.0,0.1,1,0.006166
1,Belair-Edison,17416,0.2,0.6,58,0.333027
2,Brooklyn/Curtis Bay/Hawkins Point,14243,0.1,0.7,36,0.252756
3,Canton,8100,0.6,2.6,162,2.000000
4,Cedonia/Frankford,23557,0.3,0.5,25,0.106126

In [16]:
art["Creative Score"]=art["Creative Population"]*art["Business_Art"]

In [17]:
art.head()

,Community,Population,Business_Art,Rate of Business,Employees_creative,Creative Population,Creative Score
0,Allendale/Irvington/S. Hilton,16217,0.0,0.1,1,0.006166,0.000000
1,Belair-Edison,17416,0.2,0.6,58,0.333027,0.066605
2,Brooklyn/Curtis Bay/Hawkins Point,14243,0.1,0.7,36,0.252756,0.025276
3,Canton,8100,0.6,2.6,162,2.000000,1.200000
4,Cedonia/Frankford,23557,0.3,0.5,25,0.106126,0.031838

In [30]:
art_score=art.sort_values(ascending=False,by="Creative Score")
art_full=art_score

In [20]:
art_score=art_score.head(10)

In [21]:
art_score.to_csv("creative_rankings.csv")

In [22]:
art_score

,Community,Population,Business_Art,Rate of Business,Employees_creative,Creative Population,Creative Score
12,Downtown/Seton Hill,6446,8.4,18.9,1467,22.758300,191.169718
33,Midtown,15020,3.3,7.2,1952,12.996005,42.886818
28,Inner Harbor/Federal Hill,12855,2.1,5.3,1826,14.204590,29.829638
32,Medfield/Hampden/Woodberry/Remington,17388,2.4,7.1,1431,8.229814,19.751553
24,Harbor East/Little Italy,5407,2.4,5.9,343,6.343629,15.224709
14,Fells Point,9039,1.5,4.4,733,8.109304,12.163956
46,South Baltimore,6406,0.6,1.9,853,13.315642,7.989385
52,Washington Village/Pigtown,5503,1.3,2.9,337,6.123932,7.961112
17,Greater Charles Village/Barclay,16391,1.6,3.4,707,4.313343,6.901348
47,Southeastern,6260,0.5,2.2,278,4.440895,2.220447

In [23]:
art_score_final=pd.DataFrame()

In [24]:
art_score_final["Community"]=art_score["Community"]
art_score_final["Creative Score"]=art_score["Creative Score"]

In [25]:
art_score_final

                               Community  Creative Score
12                   Downtown/Seton Hill      191.169718
33                               Midtown       42.886818
28             Inner Harbor/Federal Hill       29.829638
32  Medfield/Hampden/Woodberry/Remington       19.751553
24              Harbor East/Little Italy       15.224709
14                           Fells Point       12.163956
46                       South Baltimore        7.989385
52            Washington Village/Pigtown        7.961112
17       Greater Charles Village/Barclay        6.901348
47                          Southeastern        2.220447

In [28]:
art_rankings=pd.read_csv("art_rankings.csv")

In [29]:
art_rankings.head()

,Unnamed: 0,Community,Art Score,Crime,Population 19-24,Population 25-64,Income
0,54,Downtown/Seton Hill,38.312207,243.3,20.6,67.6,"44,819.40"
1,42,Inner Harbor/Federal Hill,13.312217,79.3,13.3,66.6,"88,854.21"
2,49,Midtown,8.788034,84.2,22.6,58.7,"38,866.80"
3,52,Washington Village/Pigtown,6.869644,139.4,11.3,59.5,"48,175.04"
4,53,Harbor East/Little Italy,4.745294,159.4,9.8,59.6,"36,578.63"

In [31]:
art_creative=pd.merge(left=art_full,right=art_rankings,on="Community")

In [33]:
art_creative_rankings=pd.DataFrame()
art_creative_rankings["Community"]=art_creative["Community"]
art_creative_rankings["Art Score"]=art_creative["Art Score"]
art_creative_rankings["Creative Score"]=art_creative["Creative Population"]

In [34]:
art_creative_rankings.head()

                              Community  Art Score  Creative Score
0                   Downtown/Seton Hill  38.312207       22.758300
1                               Midtown   8.788034       12.996005
2             Inner Harbor/Federal Hill  13.312217       14.204590
3  Medfield/Hampden/Woodberry/Remington   4.036008        8.229814
4              Harbor East/Little Italy   4.745294        6.343629

In [46]:
artz=art_creative_rankings["Art Score"].tolist()
cz=art_creative_rankings["Creative Score"].tolist()
art_mean=art_creative_rankings["Art Score"].mean()
art_std=art_creative_rankings["Art Score"].std()
c_mean=art_creative_rankings["Creative Score"].mean()
c_std=art_creative_rankings["Creative Score"].std()

#art_creative_rankings["Art Z Score"]=pd.Series([])

In [47]:
artz_score=[(x-art_mean)/art_std for x in artz]
cz_score=[(x-c_mean)/c_std for x in cz]

In [48]:
art_creative_rankings["Art Z Score"]=pd.Series(artz_score)
art_creative_rankings["Creative Z Score"]=pd.Series(cz_score)

In [50]:
art_creative_rankings["Total Score"]=art_creative_rankings["Art Z Score"]+art_creative_rankings["Creative Z Score"]

In [52]:
art_creative_ranked=art_creative_rankings.sort_values(ascending=False,by="Total Score")

In [55]:
art_creative_ranked.to_csv("Creative+Art Rankings.csv")

In [58]:
art_ranks=pd.DataFrame()

In [59]:
art_ranks["Community"]=art_creative_ranked["Community"]
art_ranks["Total Score"]=art_creative_ranked["Total Score"]

In [62]:
art_ranks.head(10)

                               Community  Total Score
0                    Downtown/Seton Hill    10.753992
2              Inner Harbor/Federal Hill     4.817525
1                                Midtown     3.819838
6                        South Baltimore     2.724911
3   Medfield/Hampden/Woodberry/Remington     1.982407
7             Washington Village/Pigtown     1.960907
5                            Fells Point     1.903663
4               Harbor East/Little Italy     1.670173
8        Greater Charles Village/Barclay     1.039396
14                   Oldtown/Middle East     0.291340