In [1]:
import pandas as pd

In [4]:
crime_data=pd.read_csv("Data/Crime_by_Neighborhood.csv")

In [11]:
crime_data.head(n=5)
crime_data = crime_data[crime_data.Community != "Baltimore City"]

In [12]:
crime_sorted=crime_data.sort_values(by="2014 Data",)

In [13]:
crime_sorted

                                Community  2014 Data
11                Cross-Country/Cheswolde       14.6
22        Greater Roland Park/Poplar Hill       28.2
12               Dickeyville/Franklintown       29.3
39      North Baltimore/Guilford/Homeland       29.9
38            Mount Washington/Coldspring       30.0
31                             Lauraville       38.9
15                      Edmondson Village       38.9
20                         Greater Govans       39.9
40                              Northwood       41.8
32                             Loch Raven       43.7
27                       Harford/Echodale       44.2
29             Howard Park/West Arlington       45.3
9                     Claremont/Armistead       46.3
5                                  Canton       46.5
2         Beechfield/Ten Hills/West Hills       46.6
8               Chinquapin Park/Belvedere       47.7
48                        South Baltimore       49.8
17                   Forest Park/Walbrook       50.0
25                               Hamilton       50.1
34   Medfield/Hampden/Woodberry/Remington       51.5
50                  Southern Park Heights       51.6
18                         Glen-Fallstaff       51.8
6                       Cedonia/Frankford       52.3
7                             Cherry Hill       53.5
4       Brooklyn/Curtis Bay/Hawkins Point       54.9
10                          Clifton-Berea       55.0
0           Allendale/Irvington/S. Hilton       55.1
45              Pimlico/Arlington/Hilltop       55.7
13                   Dorchester/Ashburton       56.4
3                           Belair-Edison       56.6
37               Morrell Park/Violetville       58.8
44              Penn North/Reservoir Hill       59.6
23                       Greater Rosemont       63.0
47        Sandtown-Winchester/Harlem Park       63.1
24                        Greenmount East       66.5
19        Greater Charles Village/Barclay       68.8
36                      Midway/Coldstream       69.9
16                            Fells Point       71.0
55         Westport/Mount Winans/Lakeland       71.2
33                       Madison/East End       71.8
52                          The Waverlies       75.2
53                    Upton/Druid Heights       77.9
30              Inner Harbor/Federal Hill       79.3
43            Patterson Park North & East       79.5
51                    Southwest Baltimore       80.7
42          Orangeville/East Highlandtown       81.0
46  Poppleton/The Terraces/Hollins Market       82.0
41                    Oldtown/Middle East       82.6
49                           Southeastern       83.7
35                                Midtown       84.2
28                           Highlandtown       88.8
21                      Greater Mondawmin      102.9
54             Washington Village/Pigtown      139.4
26               Harbor East/Little Italy      159.4
14                    Downtown/Seton Hill      243.3

In [14]:
art_data=pd.read_csv("Data/ranking_art.csv")

In [15]:
art_data.head()

,CSA2010,"Number of Businesses that are Arts-Related per 1,000 residents_zscore","Rate of Businesses in the Creative Economy per 1,000 residents_zscore","Public Art per 1,000 Residents_zscore",Number of Public Murals_zscore,"Number of Event Permits Requested per 1,000 Residents_zscore",employment_in_arts_ratio_zscore,employment_in_creative_ratio_zscore,art_score
0,Downtown/Seton Hill,6.160416,5.942169,5.901892,5.751868,5.319261,4.577978,4.658622,38.312207
1,Inner Harbor/Federal Hill,1.080492,1.210196,0.034204,-0.319217,3.814830,4.782164,2.709548,13.312217
2,Midtown,2.048096,1.871280,0.213370,0.008950,0.281166,1.931013,2.434157,8.788034
3,Washington Village/Pigtown,0.435422,0.375142,0.930035,1.485700,2.065492,0.709588,0.868266,6.869644
4,Harbor East/Little Italy,1.322393,1.418959,-0.144962,0.008950,0.561061,0.660566,0.918327,4.745294

In [24]:
art_ranked=pd.DataFrame()
art_ranked["Community"]=art_data["CSA2010"]
art_ranked["Art Score"]=art_data["art_score"]

In [32]:
art_crime=pd.merge(left=crime_sorted,right=art_ranked,on="Community")
income_scored=pd.read_csv("baseline_model.csv")

In [47]:
income_score=pd.DataFrame()

In [48]:
income_score["Community"]=income_scored["CSA2010"]

In [49]:
income_score["TOM"]=income_scored["Median Number of Days on the Market (2014)"]

In [50]:
art_crime_income=pd.merge(left=art_crime,right=income_score,on="Community")

In [51]:
art_crime_income.corr(method="pearson")

           2014 Data  Art Score       TOM
2014 Data   1.000000   0.795938  0.221893
Art Score   0.795938   1.000000  0.205689
TOM         0.221893   0.205689  1.000000

In [29]:
art_crime_ranked=art_scored.sort_values(ascending=True,by="2014 Data")

In [52]:
census=pd.read_csv("Data/census_pd.csv")

In [53]:
census.columns

Index([u'CSA2010', u'Total Population (2010)', u'Total Male Population (2010)',
       u'Total Female Population (2010)',
       u'Percent of Residents - Black/African-American (2010)',
       u'Percent of Residents - White/Caucasian (2010)',
       u'Percent of Residents - Asian (2010)',
       u'Percent of Residents - Two or More Races (2010)',
       u'Percent of Residents - All Other Races (Hawaiian/ Pacific Islander, Alaskan/ Native American Other Race) (2010)',
       u'Percent of Residents - Hispanic (2010)',
       u'Racial Diversity Index (2010)',
       u'Percent of Population 0-5 years old (2010)',
       u'Percent of Population 6-18 years old (2010)',
       u'Percent of Population 19-24 years old (2010)',
       u'Percent of Population 25-64 years old (2010)',
       u'Percent of Population 65 years and over (2010)',
       u'Total Number of Households (2010)',
       u'Percent of Female-Headed Households with Children under 18 (2010)',
       u'Percent of Households with Children Under 18 (2010)',
       u'Average Household Size (2010)',
       u'Median Household Income (2010-2014)',
       u'Percent of Households Earning Less than $25,000 (2010-2014)',
       u'Percent of Households Earning $25,000 to $40,000 (2010-2014)',
       u'Percent of Households Earning $40,000 to $60,000 (2010-2014)',
       u'Percent of Households Earning $60,000 to $75,000 (2010-2014)',
       u'Percent of Households Earning More than $75,000 (2010-2014)',
       u'Percent of Family Households Living Below the Poverty Line (2010-2014)',
       u'Percent of Children Living Below the Poverty Line (2010-2014)'],
      dtype='object')

In [63]:
census_art=pd.DataFrame()

In [64]:
census_art["Community"]=art_crime_income["Community"]
census_art["Art Score"]=art_crime_income["Art Score"]
census_art["Crime"]=art_crime_income["2014 Data"]

In [65]:
census_subset=pd.DataFrame()
census_subset["Community"]=census["CSA2010"]
census_subset["Population 19-24"]=census['Percent of Population 19-24 years old (2010)']
census_subset["Population 25-64"]=census['Percent of Population 25-64 years old (2010)']
census_subset["Income"]=census["Median Household Income (2010-2014)"]

In [66]:
art_final=pd.merge(left=census_art,right=census_subset,on="Community")

In [67]:
art_final_ranked=art_final.sort_values(by="Art Score",ascending=False)

In [69]:
art_final_ranked.to_csv("art_rankings.csv")